<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
</head>
<body>
    <header>
        <div id="logo">
            <h1>KAZ </h1>
            <h2>Handmade Shop</h2>
            <p>Your one-stop shop for handmade items</p>
        </div>
        <div class="nav">
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/display">Items</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/review">Review</a></li>
        </ul>
        </div>
    </header>
    <section class="item-details">
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="../img/necklace3.jpg" alt="Handmade Necklace" class="collage-image">
            </div>
            <div class="mySlides fade">
                <img src="../img/necklace3-1.jpg" alt="Handmade Necklace" class="collage-image">
            </div>
            <div class="mySlides fade">
                <img src="../img/necklace3-2.jpg" alt="Handmade Necklace" class="collage-image">
            </div>
            <!-- Navigation buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <h>Sun and Moon Necklace</h2>
        <h3>Product details</h3>
        <p>Sun and Moon Necklace, Sunshine and Moonlight Necklace, Gold Sun Necklace, Silver Moon Necklace, Couple Matching Jewelry, Best Gift for Her</p>
        <p>Price: $17.30</p>
        <button onclick="addToCart('Sun and Moon Necklace', 17.30)">Add to Cart</button>
    </section>

    <footer>
        <p>&copy; 2024 KAZ Handmade Shop. All Rights Reserved.</p>
    </footer>
    <script src="css/script.js"></script>

    <script src="css/slide.js"></script>
</body>
</html>
